<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<div>
  {% include head.html %}

  <body>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v7.0&appId=288165262454193&autoLogAppEvents=1" nonce="yRSQm7K6"></script>


    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div>
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</div>
  

</html>
