---
layout: default
---

<div class="home">


  <div class="row p-0 m-0">

    <div class="col-md-4 bg-dark gambiarra-borda-div-com-cor">
      <div class="card text-white bg-dark border-none">
        
        <div class="card-body">
          <img class="img-perfil" src="https://i.ibb.co/NsJDqSw/perfil.jpg">

          <h1 class="page-heading-h1 text-center">Gabriel L. Barbosa</h1>
          <hr>
          <p class="post-meta text-center">
            Desenvolvedor web Full-stack com conhecimento e experiência com diversas tecnologias. Apaixonado em compartilhar conhecimento, sempre disposto a dar treinamentos, workshops e palestras sobre programação e tecnologia.
          </p>

          <ul>
            <li class="post-meta">
              Graduado em Análise e Desenvolvimento de Sistemas
            </li>
            <li class="post-meta">
              Especialista em Arquitetura de Soluções em Plataforma .net
            </li>
            <li class="post-meta">
              Desenvolvedor de software, web dev, full-stack
            </li>
            <li class="post-meta">
              Palestrante de Desenvolvimento e Tecnologia
            </li>            
          </ul>

          <hr>

          <div class="text-center">
            <span class="icon icon--github mr-5">{% include icon-github.svg %}</span>
            <span class="icon icon--twitter mr-5">{% include icon-twitter.svg %}</span>
            <span class="icon icon--twitter mr-5">{% include icon-twitter.svg %}</span>
            <span class="icon icon--twitter mr-5">{% include icon-twitter.svg %}</span>
          </div>

          <hr>

          <h4 class="page-heading text-left">
            Principais Tecnologias
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              C#, .net core
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              html, css, javascript, typescript
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              angularJS, angular, vueJS
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              ruby, ruby on rails
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              sqlserver, postgresql, mysql
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              mongodb, dynamodb, ELK Stack
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 bg-dark gambiarra-borda-div-com-cor">
      <div class="card text-white bg-dark border-none">
        <div class="card-body padding-l-r-10">
          <h4 class="page-heading text-left">
            Formação Acadêmica
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Análise e desenvolvimento de sistemas
            </p>
            <span class="post-meta pr-2 ">Graduação - Estácio de sá</span>
          </div>

          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Arquitetura de Soluções em Plataforma .net
            </p>
            <span class="post-meta pr-2 ">Especialização - UNICIV</span>
          </div>
          <hr>

          <h4 class="page-heading text-left">
            Experiência Profissional
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Desenvolvedor web full-stack
            </p>
            <span class="post-meta pr-2"><strong>Alterdata software</strong></span>
            <p class="post-meta">
              Tecnologias: C#, .net, html, css, Bootstrap, Javascript, AngularJS, Angular, VueJS, SQL Server, postgresql, SVN, Git, Jira, Scrum.
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Desenvolvedor web full-stack
            </p>
            <span class="post-meta pr-2"><strong>Indeva by Vtex</strong></span>
            <p class="post-meta">
              Tecnologias: Ruby, Ruby on Rails, Rspec, postgresql, Git, CSS, HTML, Javascript, heroku, Dashing. Scrum.
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Coordenador de TI
            </p>
            <span class="post-meta pr-2"><strong>Romão tecnologias industriais</strong></span>
            <p class="post-meta">
              Gerenciamento de servidores, rede de computadores, desenvolvimento(C#, SQL server), treinamentos, suporte interno, manutenção de sistemas.
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Analista de suporte
            </p>
            <span class="post-meta pr-2"><strong>Alterdata software</strong></span>
            <p class="post-meta">
              Análise de sistemas, testes de sistemas, banco de dados SQL Server.
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Jovem aprendiz (TI)
            </p>
            <span class="post-meta pr-2"><strong>Viação Teresópolis</strong></span>
            <p class="post-meta">
              Suporte aos sistemas, microinformática e rede de computadores.
            </p>
          </div>         

        </div>
      </div>
    </div>

    <div class="col-md-4 bg-dark gambiarra-borda-div-com-cor">
      <div class="card text-white bg-dark border-none">
        <div class="card-body padding-l-r-10">

          <h4 class="page-heading text-left">
            Certificações
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              International Scrum Master Foundation
            </p>
            <span class="post-meta pr-2 ">Scrum.as</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              International Agile Test Foundation
            </p>
            <span class="post-meta pr-2 ">Scrum.as</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              SFC - Scrum Fundamentals Certified
            </p>
            <span class="post-meta pr-2 ">SCRUMstudy</span>
          </div>
          <hr>  

          <h4 class="page-heading text-left">
            Voluntariado
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Organizador
            </p>
            <span class="post-meta pr-2"><strong>Startup Weekend</strong></span>
            <p class="post-meta">
              Membro da equipe organizadora do primeiro StartupWeekend Teresópolis.
            </p>
          </div>

          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Cofundador, Organizador e Palestrante
            </p>
            <span class="post-meta pr-2"><strong>Serra.dev</strong></span>
            <p class="post-meta">
              O Serra.dev é um grupo de desenvolvedores ávidos por compartilhar e adquirir conhecimento na área de desenvolvimento de software. Um dos objetivos é aumentar e difundir cada vez mais o grupo, para que todos os envolvidos evoluam cada vez mais na nossa área de atuação
            </p>
            <ul>
              <li class="post-meta">
                Organizador e palestrante - 27/07/2019 - Workshop Front-end com VueJs no mundo real
              </li>
              <li class="post-meta">
                Organizador - 24/08/2019 - Workshop: Ruby on Rails
              </li>
              <li class="post-meta">
                Organizador - 09/11/2019 - Workshop: Front-end com ReactJS no mundo real
              </li>
            </ul>
          </div>

          <h4 class="page-heading text-left">
            Prêmios
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Startup weekend Nova Friburgo 2017
            </p>
            <span class="post-meta pr-2 ">Equipe vencedora com o ListaFacil, app para comparação de preços em supermercados</span>
          </div>
           

        </div>
      </div>
    </div>

    
  </div>

  

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
