---
layout: default
---

<div class="home">


  <div class="row p-0 m-0">
    <div class="col-md-3 d-none d-md-block">
      <div class="card side-card">
        <div class="card-body padding-l-r-10">
          <h2 class="page-heading text-center">
            Mini currículo
          </h2>
          <hr>
          <h4 class="page-heading text-left">
            Formação
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Análise e desenvolvimento de sistemas
            </p>
            <span class="post-meta pr-2 ">Estácio de sá</span>
          </div>
          <hr>

          <h4 class="page-heading text-left">
            Experiência
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Desenvolvedor web full-stack
            </p>
            <span class="post-meta pr-2">Alterdata software (atual)</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Desenvolvedor web full-stack
            </p>
            <span class="post-meta pr-2">Indeva by Vtex</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Coordenador de TI
            </p>
            <span class="post-meta pr-2">Romão tecnologias industriais</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Analista de suporte
            </p>
            <span class="post-meta pr-2">Alterdata software</span>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              Jovem aprendiz (TI)
            </p>
            <span class="post-meta pr-2">Viação Teresópolis</span>
          </div>

          <hr>
          <h4 class="page-heading text-left">
            Principais tecnologias
          </h4>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              C#, .net core
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              ruby, ruby on rails, nodejs, adonisjs
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              html, css, javascript, typescript
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              angularJS, angular, vueJS, reactJS
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              git, svn, heroku
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              sqlserver, postgesql, mysql
            </p>
          </div>
          <div class="cv-home-div pl-1 mb-2">
            <p class="post-link mb-0">
              mongodb, dynamodb, ELK Stack
            </p>
          </div>
          <hr>
          <a href="{{ "/sobre" | relative_url }}"> 
            Ver currículo completo
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card side-card">
        <img class="card-img-top" src="https://i.ibb.co/GVxXMN8/bg.jpg" alt="gabriel barbosa workshop">
        <div class="card-body">
          <img class="img-perfil" src="https://i.ibb.co/NsJDqSw/perfil.jpg">
          <h1 class="text-center page-heading-h1">Gabriel Barbosa</h1>
          <h2 class="text-center page-heading">Desenvolvedor web full-stack</h2>
          <p class="lead">
            Oi, sou o Gabriel. Desenvolvedor web Full-stack, possuo conhecimento e experiência com diversas tecnologias tanto de back-end como de front-end.
          </p>
          <p class="lead">
            Sou apaixonado em compartilhar conhecimento, estou sempre disposto a dar treinamentos, workshops e palestras sobre programação e tecnologia. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card side-card">
        <div class="card-body padding-l-r-10">
          <h2 class="page-heading text-center">
            Últimas postagens
          </h2>
          
          {{ content }}
        
          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <div class="post-home-div card-zoom pt-0">
                  <span class="post-meta float-right pr-2">{{ post.date | date: "%d %b, %Y" }}</span><br>
        
                  <h6>
                    <small>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      <!-- <img class="img-pequena" src="{{ post.icon_adress | escape }}"> -->
                      {{ post.title | escape }}</a>
                    </small>
                  </h6>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
