---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-home-div container">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        <img class="img-pequena" src="{{ page.icon_adress | escape }}">
        {{ page.title | escape }}
      </h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d %b, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
          <div class = "fb-comments" data-href="{{page.comments_url }}" data-numposts = "10" data-width = "100%" > </div>   
      </div>
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
    </div>
  </article>
